/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 75vh;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-image: linear-gradient(
      #000000a4 0% 0%,
      #00000000 50% 50%,
      #000000a4 100%
    ),
    url('/img/circuit-wallpaper.png');
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroTitle {
  text-shadow: 0px 0px 12px var(--ifm-font-color-base);
  padding: 16px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
